---
import Layout from "../layouts/Layout.astro";
import layoutStyles from "../layouts/Layout.module.css";
import styles from "./about.module.css";
import ContentSection from "../components/ContentSection.astro";
import ContactLinks from "../components/ContactLinks.astro";
const pageTitle = "About Me";
---

<Layout title={pageTitle}>
  <main
    class:list={[
      layoutStyles.container,
      layoutStyles.maxWidth3xl,
      styles.aboutMain,
    ]}
  >
    <h1 class={styles.pageTitle}>{pageTitle}</h1>

    <ContentSection title="Hello, I'm Aleksandr!">
      <p>
        I'm a Frontend Developer based in Novi Sad, Serbia. This blog is where I
        share my thoughts about frontend development, along with occasional
        insights into my personal projects and interests.
      </p>
      <p>When I'm not working, you can find me coding.</p>
    </ContentSection>

    <ContentSection title="My Background">
      <p>
        I have 5 years of experience in Frontend Development. I've worked with
        TypeScript, React, Resux, NestJS, Fastify, Prisma. My focus is primarily
        on React and NestJS with Fastify.
      </p>
    </ContentSection>

    <ContentSection title="Why I Blog">
      <p>
        I started this blog to share challenges that I face during my coding
        sessions. My goal is to just share my experience.
      </p>
    </ContentSection>

    <ContentSection title="Example Shoelace Button">
      <sl-button variant="primary" outline>Say Hello</sl-button>
    </ContentSection>

    <ContentSection title="Connect With Me">
      <ContactLinks />
    </ContentSection>
  </main>
</Layout>
