---
import styles from "./Layout.module.css";
import "../styles/global.css"; // Keep global styles import
import "../../tokio-night-dark.css";
import Header from "../components/Header.astro"; // Import Header
import Footer from "../components/Footer.astro"; // Import Footer

// Props for the Layout component
interface Props {
  title: string;
  description?: string;
}

// Destructure props with defaults
const {
  title,
  description = "A personal blog about technology, coding, and more",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="sl-theme-tokio-night-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | My Blog</title>

    <script>
      import { setBasePath } from "@shoelace-style/shoelace/dist/utilities/base-path.js";
      setBasePath("/shoelace-assets/");
      import "@shoelace-style/shoelace/dist/components/icon/icon.js";
    </script>
  </head>
  <body>
    <Header />
    {/* Use Header component */}

    <main class={styles.mainContent}>
      <slot />
    </main>

    <Footer />
    {/* Use Footer component */}
  </body>
</html>
